.DS_Store
*.iml
local.properties

/src/main/gen
/src/main/java/src/cz/juzna/intellij/neon/parser/_NeonLexer.flex

intellij-neon.iws
src/main/java/src/cz/juzna/intellij/neon/lexer/_NeonLexer.java
src/main/java/src/cz/juzna/intellij/neon/lexer/_NeonTokenTypes.java
src/main/java/src/cz/juzna/intellij/neon/parser/_NeonLexer.flex
src/main/java/src/cz/juzna/intellij/neon/parser/NeonParser.java
src/main/java/src/cz/juzna/intellij/neon/psi/generated/*
src/main/java/src/cz/juzna/intellij/neon/psi/impl/generated/*

/.idea
/.gradle
/build